@import "../../App.scss";

.carousel-item {
  img {
    width: 100%;
    object-fit: cover;
  }

  .carousel-caption {
    position: absolute;
    top: 30%;
    left: 15%;
    text-align: left;
    color: $light;

    h3 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }
  }
}

.arrow {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.arrow:hover {
  cursor: pointer;
  background-color: $light;
  color: $dark;
}
